Netdata_rolling_window.xml
<?xml version="1.0" ?>
<template encoding-version="1.1">
  <description></description>
  <groupId>32717173-015d-1000-784f-83585b0ff63d</groupId>
  <name>Netdata_rolling_window</name>
  <snippet>
    <connections>
      <id>94ee07f5-be1b-3e7e-0000-000000000000</id>
      <parentGroupId>6ae4d8b3-b277-3d50-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>6ae4d8b3-b277-3d50-0000-000000000000</groupId>
        <id>57144511-f386-39f8-0000-000000000000</id>
        <type>OUTPUT_PORT</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>6ae4d8b3-b277-3d50-0000-000000000000</groupId>
        <id>d1838808-6866-3ac8-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>9a0b2518-06df-3cc5-0000-000000000000</id>
      <parentGroupId>6ae4d8b3-b277-3d50-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>6ae4d8b3-b277-3d50-0000-000000000000</groupId>
        <id>d1838808-6866-3ac8-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>6ae4d8b3-b277-3d50-0000-000000000000</groupId>
        <id>c031883c-4e57-391e-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>bff8bbfd-df2d-367b-0000-000000000000</id>
      <parentGroupId>6ae4d8b3-b277-3d50-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>6ae4d8b3-b277-3d50-0000-000000000000</groupId>
        <id>57144511-f386-39f8-0000-000000000000</id>
        <type>OUTPUT_PORT</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>6ae4d8b3-b277-3d50-0000-000000000000</groupId>
        <id>1cc3d5e9-3da5-3355-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>eb55e66e-37db-3efd-0000-000000000000</id>
      <parentGroupId>6ae4d8b3-b277-3d50-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>6ae4d8b3-b277-3d50-0000-000000000000</groupId>
        <id>57144511-f386-39f8-0000-000000000000</id>
        <type>OUTPUT_PORT</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>matched</selectedRelationships>
      <source>
        <groupId>6ae4d8b3-b277-3d50-0000-000000000000</groupId>
        <id>1a5dabf7-3fba-3241-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>ee93a75a-f6a2-3cf2-0000-000000000000</id>
      <parentGroupId>6ae4d8b3-b277-3d50-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>6ae4d8b3-b277-3d50-0000-000000000000</groupId>
        <id>57144511-f386-39f8-0000-000000000000</id>
        <type>OUTPUT_PORT</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>6ae4d8b3-b277-3d50-0000-000000000000</groupId>
        <id>e036ad7f-d6e8-3f11-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>f0d24d97-72d1-3cdf-0000-000000000000</id>
      <parentGroupId>6ae4d8b3-b277-3d50-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>6ae4d8b3-b277-3d50-0000-000000000000</groupId>
        <id>e036ad7f-d6e8-3f11-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>matched</selectedRelationships>
      <source>
        <groupId>6ae4d8b3-b277-3d50-0000-000000000000</groupId>
        <id>48a8d430-8e66-35a0-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>1d3e705a-5651-3b22-0000-000000000000</id>
      <parentGroupId>6ae4d8b3-b277-3d50-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>6ae4d8b3-b277-3d50-0000-000000000000</groupId>
        <id>c119e6bb-8208-3850-0000-000000000000</id>
        <type>OUTPUT_PORT</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>6ae4d8b3-b277-3d50-0000-000000000000</groupId>
        <id>c1cc7d60-1b3a-3449-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>3f8f2ddc-59c1-35a9-0000-000000000000</id>
      <parentGroupId>6ae4d8b3-b277-3d50-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>6ae4d8b3-b277-3d50-0000-000000000000</groupId>
        <id>1a5dabf7-3fba-3241-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>matched</selectedRelationships>
      <source>
        <groupId>6ae4d8b3-b277-3d50-0000-000000000000</groupId>
        <id>48a8d430-8e66-35a0-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <controllerServices>
      <id>cc842554-1dc2-391a-0000-000000000000</id>
      <parentGroupId>6ae4d8b3-b277-3d50-0000-000000000000</parentGroupId>
      <bundle>
        <artifact>nifi-lookup-services-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.4.0-SNAPSHOT</version>
      </bundle>
      <comments></comments>
      <descriptors>
        <entry>
          <key>chart_name</key>
          <value>
            <name>chart_name</name>
          </value>
        </entry>
      </descriptors>
      <name>SimpleKeyValueLookupService</name>
      <persistsState>false</persistsState>
      <properties>
        <entry>
          <key>chart_name</key>
          <value>cpu.cpu1</value>
        </entry>
      </properties>
      <state>ENABLED</state>
      <type>org.apache.nifi.lookup.SimpleKeyValueLookupService</type>
    </controllerServices>
    <controllerServices>
      <id>ed5d02d2-7299-3173-0000-000000000000</id>
      <parentGroupId>6ae4d8b3-b277-3d50-0000-000000000000</parentGroupId>
      <bundle>
        <artifact>nifi-registry-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.4.0-SNAPSHOT</version>
      </bundle>
      <comments></comments>
      <descriptors>
        <entry>
          <key>Netdata</key>
          <value>
            <name>Netdata</name>
          </value>
        </entry>
      </descriptors>
      <name>AvroSchemaRegistry</name>
      <persistsState>false</persistsState>
      <properties>
        <entry>
          <key>Netdata</key>
          <value>{
  "type" : "record",
  "name" : "Netdata",
  "fields" : [ {
    "name" : "prefix",
    "type" : "string",
    "doc" : "Type inferred from '\"netdata\"'"
  }, {
    "name" : "hostname",
    "type" : "string",
    "doc" : "Type inferred from '\"arch_pos.fslab.lan\"'"
  }, {
    "name" : "chart_id",
    "type" : "string",
    "doc" : "Type inferred from '\"cpu.cpu3_cpuidle\"'"
  }, {
    "name" : "chart_name",
    "type" : "string",
    "doc" : "Type inferred from '\"cpu.cpu3_cpuidle\"'"
  }, {
    "name" : "chart_family",
    "type" : "string",
    "doc" : "Type inferred from '\"cpuidle\"'"
  }, {
    "name" : "chart_context",
    "type" : "string",
    "doc" : "Type inferred from '\"cpu.cpu3_cpuidle\"'"
  }, {
    "name" : "chart_type",
    "type" : "string",
    "doc" : "Type inferred from '\"cpu\"'"
  }, {
    "name" : "units",
    "type" : "string",
    "doc" : "Type inferred from '\"time%\"'"
  }, {
    "name" : "id",
    "type" : "string",
    "doc" : "Type inferred from '\"cpu3_active_time\"'"
  }, {
    "name" : "name",
    "type" : "string",
    "doc" : "Type inferred from '\"C0 (active)\"'"
  }, {
    "name" : "value",
    "type" : "double",
    "doc" : "Type inferred from '13.8248174'"
  }, {
    "name" : "timestamp",
    "type" : "int",
    "doc" : "Type inferred from '1499791345'"
  } ]
}
</value>
        </entry>
      </properties>
      <state>DISABLED</state>
      <type>org.apache.nifi.schemaregistry.services.AvroSchemaRegistry</type>
    </controllerServices>
    <controllerServices>
      <id>11291e44-070a-354c-0000-000000000000</id>
      <parentGroupId>6ae4d8b3-b277-3d50-0000-000000000000</parentGroupId>
      <bundle>
        <artifact>nifi-record-serialization-services-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.4.0-SNAPSHOT</version>
      </bundle>
      <comments></comments>
      <descriptors>
        <entry>
          <key>schema-access-strategy</key>
          <value>
            <name>schema-access-strategy</name>
          </value>
        </entry>
        <entry>
          <key>schema-registry</key>
          <value>
            <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
            <name>schema-registry</name>
          </value>
        </entry>
        <entry>
          <key>schema-name</key>
          <value>
            <name>schema-name</name>
          </value>
        </entry>
        <entry>
          <key>schema-text</key>
          <value>
            <name>schema-text</name>
          </value>
        </entry>
        <entry>
          <key>Date Format</key>
          <value>
            <name>Date Format</name>
          </value>
        </entry>
        <entry>
          <key>Time Format</key>
          <value>
            <name>Time Format</name>
          </value>
        </entry>
        <entry>
          <key>Timestamp Format</key>
          <value>
            <name>Timestamp Format</name>
          </value>
        </entry>
      </descriptors>
      <name>JsonTreeReader</name>
      <persistsState>false</persistsState>
      <properties>
        <entry>
          <key>schema-access-strategy</key>
          <value>schema-name</value>
        </entry>
        <entry>
          <key>schema-registry</key>
          <value>ed5d02d2-7299-3173-0000-000000000000</value>
        </entry>
        <entry>
          <key>schema-name</key>
          <value>${schema.name}</value>
        </entry>
        <entry>
          <key>schema-text</key>
          <value>${avro.schema}</value>
        </entry>
        <entry>
          <key>Date Format</key>
        </entry>
        <entry>
          <key>Time Format</key>
        </entry>
        <entry>
          <key>Timestamp Format</key>
        </entry>
      </properties>
      <state>DISABLED</state>
      <type>org.apache.nifi.json.JsonTreeReader</type>
    </controllerServices>
    <controllerServices>
      <id>514d6958-f79a-33a6-0000-000000000000</id>
      <parentGroupId>6ae4d8b3-b277-3d50-0000-000000000000</parentGroupId>
      <bundle>
        <artifact>nifi-record-serialization-services-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.4.0-SNAPSHOT</version>
      </bundle>
      <comments></comments>
      <descriptors>
        <entry>
          <key>Schema Write Strategy</key>
          <value>
            <name>Schema Write Strategy</name>
          </value>
        </entry>
        <entry>
          <key>schema-access-strategy</key>
          <value>
            <name>schema-access-strategy</name>
          </value>
        </entry>
        <entry>
          <key>schema-registry</key>
          <value>
            <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
            <name>schema-registry</name>
          </value>
        </entry>
        <entry>
          <key>schema-name</key>
          <value>
            <name>schema-name</name>
          </value>
        </entry>
        <entry>
          <key>schema-text</key>
          <value>
            <name>schema-text</name>
          </value>
        </entry>
        <entry>
          <key>Date Format</key>
          <value>
            <name>Date Format</name>
          </value>
        </entry>
        <entry>
          <key>Time Format</key>
          <value>
            <name>Time Format</name>
          </value>
        </entry>
        <entry>
          <key>Timestamp Format</key>
          <value>
            <name>Timestamp Format</name>
          </value>
        </entry>
        <entry>
          <key>CSV Format</key>
          <value>
            <name>CSV Format</name>
          </value>
        </entry>
        <entry>
          <key>Value Separator</key>
          <value>
            <name>Value Separator</name>
          </value>
        </entry>
        <entry>
          <key>Include Header Line</key>
          <value>
            <name>Include Header Line</name>
          </value>
        </entry>
        <entry>
          <key>Quote Character</key>
          <value>
            <name>Quote Character</name>
          </value>
        </entry>
        <entry>
          <key>Escape Character</key>
          <value>
            <name>Escape Character</name>
          </value>
        </entry>
        <entry>
          <key>Comment Marker</key>
          <value>
            <name>Comment Marker</name>
          </value>
        </entry>
        <entry>
          <key>Null String</key>
          <value>
            <name>Null String</name>
          </value>
        </entry>
        <entry>
          <key>Trim Fields</key>
          <value>
            <name>Trim Fields</name>
          </value>
        </entry>
        <entry>
          <key>Quote Mode</key>
          <value>
            <name>Quote Mode</name>
          </value>
        </entry>
        <entry>
          <key>Record Separator</key>
          <value>
            <name>Record Separator</name>
          </value>
        </entry>
        <entry>
          <key>Include Trailing Delimiter</key>
          <value>
            <name>Include Trailing Delimiter</name>
          </value>
        </entry>
      </descriptors>
      <name>CSVRecordSetWriter</name>
      <persistsState>false</persistsState>
      <properties>
        <entry>
          <key>Schema Write Strategy</key>
          <value>schema-name</value>
        </entry>
        <entry>
          <key>schema-access-strategy</key>
          <value>inherit-record-schema</value>
        </entry>
        <entry>
          <key>schema-registry</key>
        </entry>
        <entry>
          <key>schema-name</key>
          <value>${schema.name}</value>
        </entry>
        <entry>
          <key>schema-text</key>
          <value>${avro.schema}</value>
        </entry>
        <entry>
          <key>Date Format</key>
        </entry>
        <entry>
          <key>Time Format</key>
        </entry>
        <entry>
          <key>Timestamp Format</key>
        </entry>
        <entry>
          <key>CSV Format</key>
          <value>custom</value>
        </entry>
        <entry>
          <key>Value Separator</key>
          <value>,</value>
        </entry>
        <entry>
          <key>Include Header Line</key>
          <value>true</value>
        </entry>
        <entry>
          <key>Quote Character</key>
          <value>"</value>
        </entry>
        <entry>
          <key>Escape Character</key>
          <value>\</value>
        </entry>
        <entry>
          <key>Comment Marker</key>
        </entry>
        <entry>
          <key>Null String</key>
        </entry>
        <entry>
          <key>Trim Fields</key>
          <value>true</value>
        </entry>
        <entry>
          <key>Quote Mode</key>
          <value>MINIMAL</value>
        </entry>
        <entry>
          <key>Record Separator</key>
          <value>\n</value>
        </entry>
        <entry>
          <key>Include Trailing Delimiter</key>
          <value>false</value>
        </entry>
      </properties>
      <state>ENABLED</state>
      <type>org.apache.nifi.csv.CSVRecordSetWriter</type>
    </controllerServices>
    <outputPorts>
      <id>c119e6bb-8208-3850-0000-000000000000</id>
      <parentGroupId>6ae4d8b3-b277-3d50-0000-000000000000</parentGroupId>
      <position>
        <x>1778.3883018182676</x>
        <y>316.38926696777344</y>
      </position>
      <comments></comments>
      <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
      <name>Result</name>
      <state>STOPPED</state>
      <type>OUTPUT_PORT</type>
      <validationErrors>'Port 'Result'' is invalid because Output connection for port 'Result' is not defined.</validationErrors>
    </outputPorts>
    <outputPorts>
      <id>57144511-f386-39f8-0000-000000000000</id>
      <parentGroupId>6ae4d8b3-b277-3d50-0000-000000000000</parentGroupId>
      <position>
        <x>1269.481688721539</x>
        <y>854.9321407628856</y>
      </position>
      <comments></comments>
      <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
      <name>out</name>
      <state>STOPPED</state>
      <type>OUTPUT_PORT</type>
    </outputPorts>
    <processors>
      <id>c031883c-4e57-391e-0000-000000000000</id>
      <parentGroupId>6ae4d8b3-b277-3d50-0000-000000000000</parentGroupId>
      <position>
        <x>573.374019591705</x>
        <y>0.0</y>
      </position>
      <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.4.0-SNAPSHOT</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Local Network Interface</key>
            <value>
              <name>Local Network Interface</name>
            </value>
          </entry>
          <entry>
            <key>Port</key>
            <value>
              <name>Port</name>
            </value>
          </entry>
          <entry>
            <key>Receive Buffer Size</key>
            <value>
              <name>Receive Buffer Size</name>
            </value>
          </entry>
          <entry>
            <key>Max Size of Message Queue</key>
            <value>
              <name>Max Size of Message Queue</name>
            </value>
          </entry>
          <entry>
            <key>Max Size of Socket Buffer</key>
            <value>
              <name>Max Size of Socket Buffer</name>
            </value>
          </entry>
          <entry>
            <key>Character Set</key>
            <value>
              <name>Character Set</name>
            </value>
          </entry>
          <entry>
            <key>Max Batch Size</key>
            <value>
              <name>Max Batch Size</name>
            </value>
          </entry>
          <entry>
            <key>Message Delimiter</key>
            <value>
              <name>Message Delimiter</name>
            </value>
          </entry>
          <entry>
            <key>Max Number of TCP Connections</key>
            <value>
              <name>Max Number of TCP Connections</name>
            </value>
          </entry>
          <entry>
            <key>SSL Context Service</key>
            <value>
              <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
              <name>SSL Context Service</name>
            </value>
          </entry>
          <entry>
            <key>Client Auth</key>
            <value>
              <name>Client Auth</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Local Network Interface</key>
          </entry>
          <entry>
            <key>Port</key>
            <value>12100</value>
          </entry>
          <entry>
            <key>Receive Buffer Size</key>
            <value>65507 B</value>
          </entry>
          <entry>
            <key>Max Size of Message Queue</key>
            <value>10000</value>
          </entry>
          <entry>
            <key>Max Size of Socket Buffer</key>
            <value>1 MB</value>
          </entry>
          <entry>
            <key>Character Set</key>
            <value>UTF-8</value>
          </entry>
          <entry>
            <key>Max Batch Size</key>
            <value>1</value>
          </entry>
          <entry>
            <key>Message Delimiter</key>
            <value>\n</value>
          </entry>
          <entry>
            <key>Max Number of TCP Connections</key>
            <value>2</value>
          </entry>
          <entry>
            <key>SSL Context Service</key>
          </entry>
          <entry>
            <key>Client Auth</key>
            <value>REQUIRED</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>ListenTCP</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.ListenTCP</type>
    </processors>
    <processors>
      <id>c1cc7d60-1b3a-3449-0000-000000000000</id>
      <parentGroupId>6ae4d8b3-b277-3d50-0000-000000000000</parentGroupId>
      <position>
        <x>1285.244136779205</x>
        <y>47.34161376953125</y>
      </position>
      <bundle>
        <artifact>nifi-kite-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.4.0-SNAPSHOT</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Schema Output Destination</key>
            <value>
              <name>Schema Output Destination</name>
            </value>
          </entry>
          <entry>
            <key>Input Content Type</key>
            <value>
              <name>Input Content Type</name>
            </value>
          </entry>
          <entry>
            <key>CSV Header Definition</key>
            <value>
              <name>CSV Header Definition</name>
            </value>
          </entry>
          <entry>
            <key>Get CSV Header Definition From Data</key>
            <value>
              <name>Get CSV Header Definition From Data</name>
            </value>
          </entry>
          <entry>
            <key>CSV Header Line Skip Count</key>
            <value>
              <name>CSV Header Line Skip Count</name>
            </value>
          </entry>
          <entry>
            <key>CSV delimiter</key>
            <value>
              <name>CSV delimiter</name>
            </value>
          </entry>
          <entry>
            <key>CSV Escape String</key>
            <value>
              <name>CSV Escape String</name>
            </value>
          </entry>
          <entry>
            <key>CSV Quote String</key>
            <value>
              <name>CSV Quote String</name>
            </value>
          </entry>
          <entry>
            <key>Pretty Avro Output</key>
            <value>
              <name>Pretty Avro Output</name>
            </value>
          </entry>
          <entry>
            <key>Avro Record Name</key>
            <value>
              <name>Avro Record Name</name>
            </value>
          </entry>
          <entry>
            <key>Number Of Records To Analyze</key>
            <value>
              <name>Number Of Records To Analyze</name>
            </value>
          </entry>
          <entry>
            <key>Charset</key>
            <value>
              <name>Charset</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Schema Output Destination</key>
            <value>flowfile-content</value>
          </entry>
          <entry>
            <key>Input Content Type</key>
            <value>json</value>
          </entry>
          <entry>
            <key>CSV Header Definition</key>
          </entry>
          <entry>
            <key>Get CSV Header Definition From Data</key>
            <value>true</value>
          </entry>
          <entry>
            <key>CSV Header Line Skip Count</key>
            <value>0</value>
          </entry>
          <entry>
            <key>CSV delimiter</key>
            <value>,</value>
          </entry>
          <entry>
            <key>CSV Escape String</key>
            <value>\</value>
          </entry>
          <entry>
            <key>CSV Quote String</key>
            <value>'</value>
          </entry>
          <entry>
            <key>Pretty Avro Output</key>
            <value>true</value>
          </entry>
          <entry>
            <key>Avro Record Name</key>
            <value>Netdata</value>
          </entry>
          <entry>
            <key>Number Of Records To Analyze</key>
            <value>10</value>
          </entry>
          <entry>
            <key>Charset</key>
            <value>UTF-8</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>InferAvroSchema</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>original</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>unsupported content</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.kite.InferAvroSchema</type>
    </processors>
    <processors>
      <id>d1838808-6866-3ac8-0000-000000000000</id>
      <parentGroupId>6ae4d8b3-b277-3d50-0000-000000000000</parentGroupId>
      <position>
        <x>0.0</x>
        <y>671.4044509123459</y>
      </position>
      <bundle>
        <artifact>nifi-stateful-analysis-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.4.0-SNAPSHOT</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Value to track</key>
            <value>
              <name>Value to track</name>
            </value>
          </entry>
          <entry>
            <key>Time window</key>
            <value>
              <name>Time window</name>
            </value>
          </entry>
          <entry>
            <key>Sub-window length</key>
            <value>
              <name>Sub-window length</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Value to track</key>
            <value>${chart_name:matches('cpu.cpu[0-9]+')}</value>
          </entry>
          <entry>
            <key>Time window</key>
            <value>60 secs</value>
          </entry>
          <entry>
            <key>Sub-window length</key>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>AttributeRollingWindow</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>set state fail</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.stateful.analysis.AttributeRollingWindow</type>
    </processors>
    <processors>
      <id>e036ad7f-d6e8-3f11-0000-000000000000</id>
      <parentGroupId>6ae4d8b3-b277-3d50-0000-000000000000</parentGroupId>
      <position>
        <x>1734.241537463094</x>
        <y>475.5274215030382</y>
      </position>
      <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.4.0-SNAPSHOT</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>record-reader</key>
            <value>
              <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
              <name>record-reader</name>
            </value>
          </entry>
          <entry>
            <key>record-writer</key>
            <value>
              <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
              <name>record-writer</name>
            </value>
          </entry>
          <entry>
            <key>schema.name</key>
            <value>
              <name>schema.name</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>record-reader</key>
            <value>11291e44-070a-354c-0000-000000000000</value>
          </entry>
          <entry>
            <key>record-writer</key>
            <value>514d6958-f79a-33a6-0000-000000000000</value>
          </entry>
          <entry>
            <key>schema.name</key>
            <value>netdata</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>ConvertRecord</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.ConvertRecord</type>
    </processors>
    <processors>
      <id>1a5dabf7-3fba-3241-0000-000000000000</id>
      <parentGroupId>6ae4d8b3-b277-3d50-0000-000000000000</parentGroupId>
      <position>
        <x>519.4386803534668</x>
        <y>489.0019309047176</y>
      </position>
      <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.4.0-SNAPSHOT</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Routing Strategy</key>
            <value>
              <name>Routing Strategy</name>
            </value>
          </entry>
          <entry>
            <key>cpu</key>
            <value>
              <name>cpu</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Routing Strategy</key>
            <value>Route to 'match' if any matches</value>
          </entry>
          <entry>
            <key>cpu</key>
            <value>${chart_name:matches('cpu.cpu[0-9]+')}</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>RouteOnAttribute</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>matched</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>unmatched</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.RouteOnAttribute</type>
    </processors>
    <processors>
      <id>1cc3d5e9-3da5-3355-0000-000000000000</id>
      <parentGroupId>6ae4d8b3-b277-3d50-0000-000000000000</parentGroupId>
      <position>
        <x>1149.1295127557676</x>
        <y>486.62871170043945</y>
      </position>
      <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.4.0-SNAPSHOT</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>record-reader</key>
            <value>
              <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
              <name>record-reader</name>
            </value>
          </entry>
          <entry>
            <key>record-writer</key>
            <value>
              <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
              <name>record-writer</name>
            </value>
          </entry>
          <entry>
            <key>lookup-service</key>
            <value>
              <identifiesControllerService>org.apache.nifi.lookup.LookupService</identifiesControllerService>
              <name>lookup-service</name>
            </value>
          </entry>
          <entry>
            <key>result-record-path</key>
            <value>
              <name>result-record-path</name>
            </value>
          </entry>
          <entry>
            <key>routing-strategy</key>
            <value>
              <name>routing-strategy</name>
            </value>
          </entry>
          <entry>
            <key>key</key>
            <value>
              <name>key</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>record-reader</key>
            <value>11291e44-070a-354c-0000-000000000000</value>
          </entry>
          <entry>
            <key>record-writer</key>
            <value>514d6958-f79a-33a6-0000-000000000000</value>
          </entry>
          <entry>
            <key>lookup-service</key>
            <value>cc842554-1dc2-391a-0000-000000000000</value>
          </entry>
          <entry>
            <key>result-record-path</key>
          </entry>
          <entry>
            <key>routing-strategy</key>
            <value>route-to-success</value>
          </entry>
          <entry>
            <key>key</key>
            <value>/fields/hostname</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>LookupRecord</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.LookupRecord</type>
    </processors>
    <processors>
      <id>48a8d430-8e66-35a0-0000-000000000000</id>
      <parentGroupId>6ae4d8b3-b277-3d50-0000-000000000000</parentGroupId>
      <position>
        <x>1071.5757733025473</x>
        <y>253.43105709746135</y>
      </position>
      <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.4.0-SNAPSHOT</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Destination</key>
            <value>
              <name>Destination</name>
            </value>
          </entry>
          <entry>
            <key>Return Type</key>
            <value>
              <name>Return Type</name>
            </value>
          </entry>
          <entry>
            <key>Path Not Found Behavior</key>
            <value>
              <name>Path Not Found Behavior</name>
            </value>
          </entry>
          <entry>
            <key>Null Value Representation</key>
            <value>
              <name>Null Value Representation</name>
            </value>
          </entry>
          <entry>
            <key>chart_family</key>
            <value>
              <name>chart_family</name>
            </value>
          </entry>
          <entry>
            <key>chart_name</key>
            <value>
              <name>chart_name</name>
            </value>
          </entry>
          <entry>
            <key>hostname</key>
            <value>
              <name>hostname</name>
            </value>
          </entry>
          <entry>
            <key>prefix</key>
            <value>
              <name>prefix</name>
            </value>
          </entry>
          <entry>
            <key>timestamp</key>
            <value>
              <name>timestamp</name>
            </value>
          </entry>
          <entry>
            <key>unit</key>
            <value>
              <name>unit</name>
            </value>
          </entry>
          <entry>
            <key>value</key>
            <value>
              <name>value</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Destination</key>
            <value>flowfile-attribute</value>
          </entry>
          <entry>
            <key>Return Type</key>
            <value>auto-detect</value>
          </entry>
          <entry>
            <key>Path Not Found Behavior</key>
            <value>ignore</value>
          </entry>
          <entry>
            <key>Null Value Representation</key>
            <value>empty string</value>
          </entry>
          <entry>
            <key>chart_family</key>
            <value>$.chart_family</value>
          </entry>
          <entry>
            <key>chart_name</key>
            <value>$.chart_name</value>
          </entry>
          <entry>
            <key>hostname</key>
            <value>$.hostname</value>
          </entry>
          <entry>
            <key>prefix</key>
            <value>$.prefix</value>
          </entry>
          <entry>
            <key>timestamp</key>
            <value>$.timestamp</value>
          </entry>
          <entry>
            <key>unit</key>
            <value>$.units</value>
          </entry>
          <entry>
            <key>value</key>
            <value>$.value</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>EvaluateJsonPath</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>matched</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>unmatched</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
    </processors>
  </snippet>
  <timestamp>07/19/2017 21:01:12 CEST</timestamp>
</template>